/* Name: Amritpal Singh
File Name: index.js
Date: 1 February 2022
Descrition: This file add sytle to whole react compponets application */



body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
}
