/* 
Programmer: Amritpal Singh
File Name: maincontent.css
Date: 1 February 2022
Descrition: Contain styling for maincontent.css
*/

.maincontent {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
}

figure {
  margin: 0;
}
figure img {
  width: 424px;
  height: 415px;
}

.plants {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.plants h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 2rem;
  font-size: 5rem;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 3px solid black;
}

.plant_needWater {
  background-color: rgba(43, 255, 0, 0.192);
  border-radius: 8%;
  transition: 5s ease;
}

article {
  padding: 1% 2% 0% 2%;
}

article:after {
  margin: 0 auto;
  padding-top: 2rem;
  display: block;
  grid-column: span 2;
  content: "";
  border-bottom: 3px solid black;
  width: 4rem;
  margin-bottom: 4rem;
}

.plant__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;
}

.plants ul {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

.plants li {
  padding: 0.2rem 0;
}

.plants button {
  display: inline-block;
  border: 3px solid black;
  border-radius: 0.3rem;
  padding: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: white;
}

.plants button:hover,
.plants button:focus {
  background-color: hsl(0, 0%, 95%);
}

.plants button:active {
  background-color: black;
  color: white;
}

.errMsg {
  height: 15vh;
  margin-bottom: 1.5rem;
  display: grid;
  place-items: center;
  color: red;
  text-align: center;
}

.waterPlantMsg {
  color: red;
  display: flex;
  justify-content: center;
}

.noMsg {
  display: none;
}

@media screen and (max-width: 1150px) {
  figure img {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  .plants {
    flex-direction: column;
    align-items: center;
  }
  figure img {
    width: 300px;
    height: 300px;
  }
  .plants button {
    padding: 1rem;
    margin-top: 1rem;
  }
  .plant__info {
    align-items: center;
  }
  .plants h1 {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    font-size: 4rem;
  }
  .errMsg {
    height: 13vh;
    font-size: 1.2rem;
  }
}
