# Name: Amritpal Singh
# File Name: .gitignore
# Date: 31 January 2022
# Descrition: This file is made with consideration of git so that some fies do not get added to git repositery



# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
