/* 
Programmer: Amritpal Singh
File Name: pageHeading.css
Date: 1 February 2022
Descrition: Contain styling for pageHeading.css
*/

.page-header {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header__heading {
  margin-top: -1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.page-header:after {
  margin: 4rem auto;
  display: block;
  content: "";
  border-bottom: 3px solid black;
  width: 4rem;
}
